
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>eam BOS African Healthcare Challenge 17</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/skeleton.css"> 

  </head>
  <body  ng-app=”AfricanHealthcareChallenge17App” ng-controller="NutriStatsController" >

    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <!-- 	<div class="row"> -->
      <div class="one-half column" style="margin-top: 2%"> 
        <div class="row " >
         <img  class="u-full-width" src="../img/ChopWell_logo.png" >
       </div>
       <div>
        <div>
          <h4>{{userObj.Name}}</h4>
          <h5>{{userObj.DailyMessage}}</h5>
        </div>
        <div>
          <h4>Weekly Nutrition Metrics</h4>
          <canvas id="pie" class="chart chart-pie"
          chart-data="userObj.data1" chart-labels="userObj.labels1" chart-options="chartOptions">
        </canvas> 
      </div>
        <div>
          <h4>Your Nutrition profile</h4>
          <canvas id="pie" class="chart chart-pie"
          chart-data="userObj.data2" chart-labels="userObj.labels2" chart-options="chartOptions">
        </canvas> 
      </div>

      <div>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Micronutrients
              </th>
              <th>Example Foods
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="nutrient in userObj.nutrients track by $index ">
              <td>{{nutrient.name}}
              </td>
              <td>
                {{nutrient.example}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
